<ion-content>
  <div class="in-out-sec" *ngIf="!loading">
    <div class="inner-content" *ngIf="errorText !== ''">
      <p class="mt-2">{{ errorText }}</p>
    </div>

    <div class="inner-content">
      <p class="mt-2" *ngIf="attendanceStatus">
        You are <strong>signed in</strong>
        <ng-container *ngIf="attendanceDateTime !== null">
           at <br/>
          {{ attendanceDateTime }}
        </ng-container>
      </p>
      <p class="mt-2"*ngIf="!attendanceStatus">
        You are <strong>signed out</strong>
        <ng-container *ngIf="attendanceDateTime !== null">
           at <br/>
          {{ attendanceDateTime }}
        </ng-container>
      </p>
      <button type="button" class="btn btn-danger cstm-btn-2" (click)="giveAttendance()" *ngIf="attendanceStatus">OUT</button>
      <button type="button" class="btn btn-success cstm-btn-2" (click)="giveAttendance()" *ngIf="!attendanceStatus">IN</button>
      
      <p class="mt-2">{{ currentTime }}</p>
    </div>
  </div>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        Latitue
      </ion-col>
      <ion-col>
        <ion-badge class="ion-text-wrap" color="medium">{{latitude}}</ion-badge>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" class="ion-text-center">
        longitude
      </ion-col>
      <ion-col>
        <ion-badge class="ion-text-wrap" color="medium">{{longitude}}</ion-badge>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" class="ion-text-center" color="medium">
        Accuracy
      </ion-col>
      <ion-col>
        <ion-badge class="ion-text-wrap" color="medium">{{accuracy}}</ion-badge>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" class="ion-text-center">
        Address
      </ion-col>
      <ion-col>
        <ion-badge class="ion-text-wrap" color="medium">{{address}}</ion-badge>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-button (click)="getGeolocation()" color="success" expand="full">Get Location</ion-button> -->

</ion-content>