<ion-content>
  <div class="login-page">
    <div class="container">
      <img src="../../assets/images/site-logo-one.png">
        <form [formGroup]="login" (ngSubmit)="submitLogin()">
          <!-- Email -->
          <div class="form-group">
            <input type="email" class="form-control cstm-inpt" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid': login.controls?.email?.invalid && login.controls?.email?.touched }">
            <div *ngIf="login.controls?.email?.errors?.required" class="invalid-feedback">
              Email is required.
            </div>
            <div *ngIf="login.controls?.email?.errors?.pattern" class="invalid-feedback">
              Email is not valid.
            </div>  
          </div>
          <!-- Password -->
          <div class="form-group">
            <input type="password" class="form-control cstm-inpt" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid': login.controls?.password?.invalid && login.controls?.password?.touched }">
            <div *ngIf="login.controls?.password?.errors?.required" class="invalid-feedback">
              Password is required.
            </div> 
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success w-100 cstm-btn" [disabled]="!login.valid">Login</button>
          </div>
        </form>
    </div>
  </div>
</ion-content>
